<body>
    <div>
        <h1> Identificador de Código de barras</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores rem ipsam eum facere voluptas totam nisi accusantium exercitationem, pariatur id minus nesciunt alias consequatur dolorum ad sunt hic! Provident, optio!
        </p>

        <p>
            Agora, pode favor, digite seu código de barras:
        </p>
        <hr>
        <input type="text" placeholder="Digite aqui seu código de barras">
        <button>Verificar</button>

    </div>
</body>
